In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('zomato.csv')
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [3]:
df.drop(['url','dish_liked','phone'],axis=1,inplace=True)
df.shape

(51717, 14)

In [4]:
df.duplicated().sum()
df=df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51674 entries, 0 to 51716
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   address                      51674 non-null  object
 1   name                         51674 non-null  object
 2   online_order                 51674 non-null  object
 3   book_table                   51674 non-null  object
 4   rate                         43907 non-null  object
 5   votes                        51674 non-null  int64
 6   location                     51653 non-null  object
 7   rest_type                    51447 non-null  object
 8   cuisines                     51629 non-null  object
 9   approx_cost(for two people)  51329 non-null  object
 10  reviews_list                 51674 non-null  object
 11  menu_item                    51674 non-null  object
 12  listed_in(type)              51674 non-null  object
 13  listed_in(city)              51674 non-null  object
dtypes: int64(1), object(13)
memory usage: 5.9+ MB

In [5]:
df.isnull().sum()

address                           0
name                              0
online_order                      0
book_table                        0
rate                           7767
votes                             0
location                         21
rest_type                       227
cuisines                         45
approx_cost(for two people)     345
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [6]:
df['cuisines'].dropna(inplace=True)
df.isnull().sum()

address                           0
name                              0
online_order                      0
book_table                        0
rate                           7767
votes                             0
location                         21
rest_type                       227
cuisines                         45
approx_cost(for two people)     345
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [7]:
df.rename(columns = {'approx_cost(for two people)':'cost','listed_in(type)':'type','listed_in(city)':'city'}, inplace = True)
df['cost']=df['cost'].astype(str)
df['cost']=df['cost'].apply(lambda x:x.replace(',',''))
df['cost']=df['cost'].astype(float)
df['cost'].fillna(df['cost'].median(),inplace=True)
df['cost']

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51712    1500.0
51713     600.0
51714    2000.0
51715    2500.0
51716    1500.0
Name: cost, Length: 51674, dtype: float64

In [8]:
df['online_order']=pd.get_dummies(df['online_order'],drop_first=True)
df['book_table']=pd.get_dummies(df['book_table'],drop_first=True)
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [9]:
df['rate']=df['rate'].str.replace('NEW','0/5')
df['rate']=df['rate'].str.replace('-','0/5')
df['rate']=df['rate'].str.replace('/5','')
df['rate'].astype(float)

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713    NaN
51714    NaN
51715    4.3
51716    3.4
Name: rate, Length: 51674, dtype: float64

In [10]:
def impute_nan(df,variable,median):
    
    df[variable]=df[variable]
    ##It will have the random sample to fill the na
    random_sample=df[variable].dropna().sample(df[variable].isnull().sum(),random_state=0)
    ##pandas need to have same index in order to merge the dataset
    random_sample.index=df[df[variable].isnull()].index
    df.loc[df[variable].isnull(),variable]=random_sample

In [11]:
median=df['rate'].median()
impute_nan(df,'rate',median)
df[df['name']=='Airlines Hotel']

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city
5360,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,867,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 3.0', ""RATED\n I would rate this 3.5...","['Rice Idly', 'Khara Bhath', 'Cream of Tomato ...",Delivery,Brigade Road
6344,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,867,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 3.0', ""RATED\n I would rate this 3.5...",[],Dine-out,Brigade Road
12869,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,868,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 3.0', ""RATED\n I would rate this 3.5...",[],Dine-out,Church Street
14990,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,868,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 3.0', ""RATED\n I would rate this 3.5...","['Bournvita', 'Masala Dosa', 'Butter Plain Dos...",Delivery,Frazer Town
38014,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,869,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 3.0', ""RATED\n I would rate this 3.5...",[],Delivery,Lavelle Road
38607,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,869,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 3.0', ""RATED\n I would rate this 3.5...","['Bournvita', 'Khara Bhath', 'Cream of Tomato ...",Dine-out,Lavelle Road
42641,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,871,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 4.0', ""RATED\n One of the 'Old is Go...",[],Delivery,MG Road
43531,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,871,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 4.0', ""RATED\n One of the 'Old is Go...","['Bournvita', 'Khara Bhath', 'Cream of Tomato ...",Dine-out,MG Road
47546,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,872,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 4.0', 'RATED\n Amazing masala Dosae,...","['Plain Dosa', 'Masala Dosa', 'Butter Plain Do...",Delivery,Residency Road
48430,"4, Madras Bank Road, Off Lavelle Road, Lavelle...",Airlines Hotel,1,0,4.0,872,Lavelle Road,Quick Bites,"South Indian, North Indian, Street Food",400.0,"[('Rated 4.0', 'RATED\n Amazing masala Dosae,...",[],Dine-out,Residency Road

In [12]:
hotels=[df['name'].unique()]

In [13]:
df['rate'] = df['rate'].astype(float)
dic=df.groupby('name').rate.agg(['mean']).to_dict()
dic
df['rate']=df['name'].map(dic['mean'])
df['rate']=df['rate'].round(1)
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [14]:
df['reviews_list']=df['reviews_list'].str.lower()

import string

def remove_puctuation(text):
    return "".join([x for x in text if x not in string.punctuation ])
df['reviews_list']=df['reviews_list'].apply(lambda x:remove_puctuation(x))

In [15]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')

def remove_stop_words(text):
    return "".join([x for x in str(text).split() if x not in stop_words])

In [16]:
df['reviews_list']=df['reviews_list'].apply(lambda x:remove_stop_words(x))

In [17]:
df['reviews_list']

0        rated40ratednbeautifulplacedineintheinteriorst...
1        rated40ratedndinnerfamilyturnedgoodchoosesuita...
2        rated30ratednambiencegoodenoughpocketfriendlyc...
3        rated40ratedngreatfoodproperkarnatakastylefull...
4        rated40ratedngoodrestaurantneighbourhoodbuffet...
                               ...
51712    rated50ratednfoodserviceincomparablyexcellents...
51713
51714
51715    rated40ratednnicefriendlyplacestaffawesomeansu...
51716    rated50ratedngreatambiencelookingnicegoodselec...
Name: reviews_list, Length: 51674, dtype: object

In [18]:
import re
def remove_urls(text):
    return re.compile(r'https?://\S+|www\.\S+').sub(r'', text)

In [19]:
df['reviews_list'] = df['reviews_list'].apply(lambda x: remove_urls(x))

In [20]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,rated40ratednbeautifulplacedineintheinteriorst...,[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,rated40ratedndinnerfamilyturnedgoodchoosesuita...,[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,rated30ratednambiencegoodenoughpocketfriendlyc...,[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,rated40ratedngreatfoodproperkarnatakastylefull...,[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,rated40ratedngoodrestaurantneighbourhoodbuffet...,[],Buffet,Banashankari

In [21]:
df=df.drop(['address','rest_type', 'type', 'menu_item', 'votes'],axis=1)

In [31]:
df_percentage = df.sample(frac=0.5)
df_percentage=df_percentage.set_index(df_percentage.name)
hotel_index = pd.Series(df_percentage.index)

In [32]:
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
tfidf_matrix =tfidf.fit_transform(df_percentage['reviews_list'])
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [70]:
def recommended_hotels(hotel_to_search, cosine_similarities = cosine_similarities):
    hotel_recommended_list = []
    index = hotel_index[hotel_index == hotel_to_search].index[0]
    similar_hotels = pd.Series(cosine_similarities[index]).sort_values(ascending=False)
    top_20_hotels = list(similar_hotels.iloc[0:21].index)
    for each in top_20_hotels:
        hotel_recommended_list.append((list(df_percentage.index)[each]))
    recommended=pd.DataFrame(columns=['name','cuisines', 'rate', 'cost']) 
    for each in hotel_recommended_list:
        recommended= recommended.append(pd.DataFrame(df_percentage[['name','cuisines','rate', 'cost']][df_percentage.name == each].sample()))
    recommended = recommended.sort_values(by='cuisines',ascending=False)
    recommended.drop_duplicates(keep=False,inplace=True)
    recommended = recommended.reset_index(drop=True)
    return recommended.head(10)
recommended_hotels('Pizza Hut')

,name,cuisines,rate,cost
0,Bob's Bar,"South Indian, Finger Food",1.4,1000.0
1,Pizza Hut,"Pizza, Fast Food",3.3,750.0
2,Stoner,"Ice Cream, Cafe, Pizza, Burger, Desserts, Beve...",4.4,500.0
3,Biergarten,"Continental, North Indian, Chinese, European, ...",4.0,2100.0
4,Strikers Sports Bar and Music,"Continental, North Indian, Chinese",3.8,1200.0
5,THE RIG,"Continental, Finger Food, Pizza",4.3,1500.0
6,Communiti,"Continental, BBQ, Salad",4.6,1500.0
7,Cafe Azzure,"Cafe, Continental, Italian, Burger",4.2,1200.0
8,Lazy Suzy,"Cafe, Continental, Beverages, Burger, Desserts...",4.3,1000.0
9,The Hole in the Wall Cafe,"Cafe, American, Burger",4.6,600.0